[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pylint-django = "*"
coverage = "*"
ipdb = "*"

[packages]
django = "*"
psycopg2 = "*"
django-crispy-forms = "*"
pillow = "*"
requests = "*"
django-extensions = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
