{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Déconnexion
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-logout my-5">
                <div class="card-body">
                    <legend class="card-title text-center">Vous avez bien été déconnecté</legend>
                    <div class="card-info text-center">
                        <small class="text-muted">
                            Aller à la <a href="{% url 'home' %}">page d'accueil</a> ou <a href="{% url 'login' %}">se
                                connecter à nouveau</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}