{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Modifier votre mot de passe
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-password my-5">
                <div class="card-body">
                    <h4 class="card-title text-center">Modifier votre mot de passe</h4>
                    <br>
                    <form class="form-password" method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="submit-button">Modifier le mot de passe</button>
                            <br>
                            <ul>
                                <li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li>
                                <li>Votre mot de passe doit contenir au minimum 8 caractères.</li>
                                <li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li>
                                <li>Votre mot de passe ne peut pas être entièrement numérique.</li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}