{% extends 'base.html' %}

{% load static %}

{% block title %}
Mentions légales
{% endblock title %}

{% block content %}
<!-- Terms of service-->
<section class="page-section" id="terms-of-service">
    <div class="container text-justify">
        <h1 class="text-center">Mentions légales</h1>
        <h5>Identité</h5>
        <p><strong>Nom du site web</strong> : Purbeurre<br><strong>Adresse </strong>:
            http://purbeurre.domaine<br><strong>Propriétaire </strong>: Purbeurre<br><strong>Responsable
                de publication :</strong> Colette & Remy Tatou</p>
        <p><strong>Conception et réalisation :</strong> Jody Etienne<br><strong>Hébergement :</strong><br>Heroku -
            SALEFORCE<br>415 Mission Street</br>Suite 300</br>San
            Francisco, CA</br>94105</p>
        <h5>Personne morale</h5>
        <p>Purbeurre – société au capital de 1 euros – RCS 123456 – Place Montmartre, Paris<br>01 23 45 67 89 –
            purbeurre@purbeurre.com</p>
        <h5>Conditions d’utilisation</h5>
        <p>L’utilisation du présent site implique l’acceptation pleine et entière des conditions générales d’utilisation
            décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout
            moment.</p>
        <h5>Informations</h5>
        <p>Les informations et documents du site sont présentés à titre indicatif, ne revêtent pas un caractère
            exhaustif, et ne peuvent engager la responsabilité du propriétaire du site.<br>Le propriétaire du site ne
            peut être tenu responsable des dommages directs et indirects consécutifs à l’accès au site</p>
        <h5>Interactivité</h5>
        <p>Les utilisateurs du site peuvent éventuellement y déposer du contenu, apparaissant sur le site dans des
            espaces dédiés. Le contenu déposé reste sous la responsabilité de leurs auteurs, qui en assument pleinement
            l’entière responsabilité juridique.<br>Le propriétaire du site se réserve le droit de retirer sans préavis
            et sans justification tout contenu déposé par les utilisateurs qui ne satisferait pas à la charte
            déontologique du site ou à la législation en vigueur.</p>
        <h5>Propriété intellectuelle</h5>
        <p>Sauf mention contraire, tous les éléments accessibles sur le site (textes, images, graphismes, logo, icônes,
            sons, logiciels, etc.) restent la propriété exclusive de leurs auteurs, en ce qui concerne les droits de
            propriété intellectuelle ou les droits d’usage.<br>Toute reproduction, représentation, modification,
            publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé
            utilisé, est interdite, sauf autorisation écrite préalable de l’auteur.<br>Toute exploitation non autorisée
            du site ou de l’un quelconque des éléments qu’il contient est considérée comme constitutive d’une
            contrefaçon et peut être poursuivie en justice.<br>Les marques et logos reproduits sur le site sont déposés
            par les sociétés qui en sont propriétaires.</p>
        <h5>Liens</h5>
        <p><strong>Liens sortants</strong><br>Le propriétaire du site décline toute responsabilité et n’est pas engagé
            par le référencement via des liens hypertextes, de ressources tierces présentes sur le réseau Internet, tant
            en ce qui concerne leur contenu que leur pertinence.<br><strong>Liens entrants</strong><br>Le propriétaire
            du site autorise les liens hypertextes vers l’une des pages de ce site, à condition que ceux-ci ouvrent une
            nouvelle fenêtre et soient présentés de manière non équivoque afin d’éviter : tout risque de confusion entre
            le site citant et le propriétaire du site ainsi que toute présentation tendancieuse, ou contraire aux lois
            en vigueur.<br>Le propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime
            que le site source ne respecte pas les règles ainsi définies.</p>
        <h5>Confidentialité</h5>
        <p>Tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le
            concernant, en effectuant sa demande écrite et signée, accompagnée d’une preuve d’identité.</p>
        <h5>Crédits</h5>
        <p><strong>Template utilisé :</strong><br><a href="https://startbootstrap.com/themes/creative/" title="template"
                target="blank">Startbootstrap-creative</a></p>
        <p><strong>Charte graphique employée :</strong><br>
            Choix des polices, photos, icones, couleurs : <a href="
                https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide" title="Charte Graphique"
                target="blank">Purbeurre style guide</a></br>
            Icônes des menus : <a href="https://fontawesome.com/" title="Icônes" target="blank">fontawesome.com</a></p>
    </div>
</section>
{% endblock content %}